<link rel="stylesheet" href="stylesheets/home.css">

<video class="video-background" autoplay muted loop id="myVideo">
  <source src="/videos/vid_bckgd.mp4" type="video/mp4">
</video>

<div class="overlay"></div>

<div class="container">
  <div class="hero">
    <span>Your Journey in <span class="underline">Sports</span></span>
    <br>
    <span>Starts Here.</span>
    <div class="buttons">
      <div class="btn underline"><a href="/login">login</a></div>
      <div class="btn underline"><a href="/signup">signup</a></div>
    </div>
    <div class="down-arrow"></div>
  </div>
</div>

<div class="features-container">
  <div class="features">
    
  </div>
</div>
