<link rel="stylesheet" href="stylesheets/home.css">

<video class="video-background" autoplay muted loop id="myVideo">
  <source src="/videos/vid_bckgd.mp4" type="video/mp4">
</video>

<div class="overlay"></div>

<div class="container">
  <div class="hero">
    <span>Your Journey in <span class="underline">Sports</span></span>
    <br>
    <span>Starts Here.</span>
    <div class="buttons">
      <div class="btn underline"><a href="/login">login</a></div>
      <div class="btn underline"><a href="/signup">signup</a></div>
    </div>
    <div class="down-arrow"></div>
  </div>
</div>
  

<div class="features-container">

  <div class="features">

    <div class="feature">
      <h2 class="feat-header">Inspirar</h2>
      <div class="feat-img feat-img-1"></div>
      <p>
        Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud.
        sed do eiusmod tempor 
        incididunt ut labore ultricies lacus sed turpis.
      </p>
    </div>

    <div class="feature">
      <h2 class="feat-header">Pertencer</h2>
      <div class="feat-img feat-img-2"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur 
        adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. 
        Massa placerat duis ultricies lacus sed turpis 
        tincidunt id aliquet. Vitae congue mauris rhoncus.
      </p>
    </div>

    <div class="feature">
      <h2 class="feat-header">Empreender</h2>
      <div class="feat-img feat-img-3"></div>
      <p>
        Dictumst quisque sagittis purus sit 
        amet volutpat consequat mauris. Risus 
        sed vulputate odio ut enim. Eleifend 
        donec pretium vulputate sapien nec. 
        Dolor sit amet consectetur adipiscing 
        elit duis tristique. Scelerisque mauris 
        pellentesque pulvinar pellentesque
      </p>
    </div>

  </div>
</div>

<div class="download-btn">Download Now</div>